#ai-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 340px;
    background: rgba(10,10,10,0.85);
    border: 2px solid gold;
    padding: 15px;
    border-radius: 12px;
    display: none;
    z-index: 1000;
}
.ai-assistant {
    font-size: 45px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1000;
}
