body {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    background: #000;
    color: white;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(20,20,20,0.55);
    border-bottom: 1px solid gold;
    position: fixed;
    top: 0;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: gold;
    text-shadow:0 0 15px gold;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: gold;
    transform: scale(1.1);
}

.hero-content {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.btn {
    padding: 14px 45px;
    background: linear-gradient(90deg, #c5a100, #ffd700);
    color: black;
    border-radius: 12px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(90deg, #ffd700, #fff176);
    transform: scale(1.1);
}

.lang-switch {
    cursor: pointer;
    font-size: 20px;
    color: gold;
    text-shadow:0 0 10px gold;
}
